.play-pause-button {
  width: 100%;
  height: 100%;
  opacity: 0.5;

  rect,
  polygon {
    display: none;
  }

  path {
    fill: rgb(39, 0, 155);
  }

  #pp-play1,
  #pp-play2,
  #pp-pause1,
  #pp-pause2 {
    display: none;
  }
}
